.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(166, 194, 221);
  padding-bottom: 5px;
}

.headline {
  width: 100%;
}

.header_interactions {
  display: flex;
  justify-content: space-around;
}
