<div id="app">
  <app-header
    msg="Your favourite images in one convenient place!"
    [onPreviousClick]="onPreviousClick"
    [onNextClick]="onNextClick"
    [showPreviousButton]="page > 1 ? true : false"
    [showNextButton]="true"
    [onChange]="onChange"
    [page]="page"
  ></app-header>
  <app-layout>
  <div *ngFor="let image of images">
    <app-image-tile [image]="image" [onClick]="selectImage">
    </app-image-tile>
  </div>
</app-layout>
  <div *ngIf="selectedImage; then LayerThen"></div>
  <ng-template #LayerThen>
    <app-layer
      [url]="selectedImage"
      [handleClose]="deselectImage"
    >
    </app-layer>
  </ng-template>
</div>
